<div class="row mt-md-3 section-description">
  <div class="col-12 col-lg-10 col offset-lg-1 col-xl-8 col offset-xl-2 section-generals px-2">
    <ul class="nav flex-column flex-md-row align-items-center align-items-md-center justify-content-md-around section-generals__nav" id="nav-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="nav-about_me" aria-selected="true" href="#nav-about_me">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="nav-education" aria-selected="false" href="#nav-education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="nav-experience" aria-selected="false" href="#nav-experience">Professional Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="nav-skills" aria-selected="false" href="#nav-skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="nav-other" aria-selected="false" href="#nav-other">Portfolio</a>
      </li>
    </ul>
    <!-- Content -->
    <div class="tab-content px-1 my-4" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-about_me" role="tabpanel" aria-labelledby="nav-about_me-tab">
        <!-- <div class="border-box__section">
          <h4 class="section-tab__title">Generals</h4>
          <section class="section-tab d-flex flex-wrap justify-content-center align-items-around">
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <span class="material-icons mr-2">person</span>
              <dt class="mr-md-2">Name</dt>
              <dd class="mb-0">Jonathan Daniel Cruz-Rabadan</dd>
            </div>
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <span class="material-icons mr-2">place</span>
              <dt class="mr-md-2">Actual location</dt>
              <dd class="mb-0">Mexico City</dd>
            </div>
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <span class="material-icons mr-2">emoji_flags</span>
              <dt class="mr-md-2">Nationality</dt>
              <dd class="mb-0">Mexican</dd>
            </div>
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <span class="material-icons mr-2">email</span>
              <dt class="mr-md-2">E-mail</dt>
              <dd class="mb-0"><a href="#">jonathandanielcr@gmail.com</a> </dd>
            </div>
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <i class="fab fa-linkedin-in section-tab__icon"></i></i>
              <dt class="mr-md-2">Linkedin</dt>
              <dd class="mb-0">jonathan-daniel-cruz-rabadan</dd>
            </div>
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <i class="fab fa-github section-tab__icon"></i>
              <dt class="mr-md-2">Github</dt>
              <dd class="mb-0">jonathandanielcr.github.io</dd>
            </div>
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <i class="fab fa-twitter section-tab__icon"></i>
              <dt class="mr-md-2">Twitter</dt>
              <dd class="mb-0">@jonathandancr</dd>
            </div>

          </section>
        </div> -->
      </div>
      <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
        <div class="border-box__section">
          <h4 class="section-tab__title">Education</h4>
          <section class="section-tab d-flex flex-wrap justify-content-center align-items-around">
            <div class="pb-3 col-12 col-md-6 col-lg-4 px-0 flex-column align-items-start section-tab__data">
              <span class="material-icons mr-2">school</span>
              <dt class="mr-md-2"></dt>
              <dd class="mb-0">Computer Engineer</dd>
            </div>
          </section>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">Experience</div>
      <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">profile2</div>
      <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">
        <div class="border-box__section">
          <h4 class="section-tab__title">Portfolio</h4>
          <section class="section-tab">
            <p class="nero">Here we've got the most important projects where I've been involved, as a member of a team, or working by my own</p>
            <div class="container-box container-box__portfolio my-4 px-2">
              <dl class="pb-45 px-0 d-flex flex-row flex-wrap justify-content-between container-box__portfolio--item">
                <h3 class="item-title col-8 col-sm-10 col-lg-11">Plataforma de Mejora Regulatoria</h3>
                <button class="button-section"><span class="material-icons white my-auto">expand_more</span></button>
                <section class="container-box__section">
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Url</dt>
                    <dd class="mb-0"><a href="https://mejora.regulatoria.cdmx.gob.mx/" target="_blank">mejora.regulatoria.cdmx.gob.mx</a>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Description</dt>
                    <dd class="mb-0">This system allows the simplification and digitalization of procedures and services. The regulatory impact analysis has been implemented.
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Role</dt>
                    <dd class="mb-0">Mainly as a front-end at ADIP
                    </dd>
                  </div>
                </section>
              </dl>
            </div>
            <div class="container-box container-box__portfolio my-4 px-2">
              <dl class="pb-45 px-0 d-flex flex-row flex-wrap justify-content-between container-box__portfolio--item">
                <h3 class="item-title col-8 col-sm-10 col-lg-11">SIBIS (Sistema de Información para el Bienestar)</h3>
                <button class="button-section"><span class="material-icons white my-auto">expand_more</span></button>
                <section class="container-box__section">
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Url</dt>
                    <dd class="mb-0"><a href="https://tubienestar.cdmx.gob.mx/" target="_blank">tubienestar.cdmx.gob.mx/</a>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Description</dt>
                    <dd class="mb-0">This is the social programs public record of Mexico City's goverment.
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Role</dt>
                    <dd class="mb-0">Mainly as a front-end at ADIP.
                    </dd>
                  </div>
                </section>
              </dl>
            </div>
            <div class="container-box container-box__portfolio my-4 px-2">
              <dl class="pb-45 px-0 d-flex flex-row flex-wrap justify-content-between container-box__portfolio--item">
                <h3 class="item-title col-8 col-sm-10 col-lg-11">Sanitary measures for COVID-19 disease</h3>
                <button class="button-section"><span class="material-icons white my-auto">expand_more</span></button>
                <section class="container-box__section">
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Url</dt>
                    <dd class="mb-0"><a href="https://medidassanitarias.covid19.cdmx.gob.mx" target="_blank">medidassanitarias.covid19.cdmx.gob.mx</a>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Description</dt>
                    <dd class="mb-0">This system has been a fundamental part of the management of public spaces as restaurants, shopping centres, or any closed public space where the spread of COVID-19 represents a high risk.
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Functions</dt>
                    <dd class="mb-0">
                      <ul>
                        <li>Register of business for a permit, which has a QR code.</li>
                        <li>When a business has been registered, depending on the epidemiological risk, we'll know if that closed place is authorized for opening.</li>
                        <li>Furthermore, the same system allows people to check-in using the QR code, which has a unique identificator, and a mobile device such as a smartphone. People only needs to provide a mobile number, and no more data
                          is required. We can check-in on various places like public transport (underground, buses), cinema, as well as mini-supers, shopping centres, café places, and office buildings. If a person has been identified as a
                          COVID-19 positive case, the data team would query the places where this positive person has checked-in, and the people registered at the same place, in the same period of time would receive a notification for
                          tracing.</li>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Role</dt>
                    <dd class="mb-0">As a full stack web developer at ADIP.
                    </dd>
                  </div>
                </section>
              </dl>
            </div>
            <div class="container-box container-box__portfolio my-4 px-2">
              <dl class="pb-45 px-0 d-flex flex-row flex-wrap justify-content-between container-box__portfolio--item">
                <h3 class="item-title col-8 col-sm-10 col-lg-11">Microcredits for Self-Employment Productive Activities</h3>
                <button class="button-section"><span class="material-icons white my-auto">expand_more</span></button>
                <section class="container-box__section">
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Url</dt>
                    <dd class="mb-0"><a href="https://www.tramites.cdmx.gob.mx/fondeso/" target="_blank">www.tramites.cdmx.gob.mx/fondeso/</a>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Description</dt>
                    <dd class="mb-0">The goal of this system is to register self-employed citizens who has been economically affected due to COVID-19 pandemic.
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Role</dt>
                    <dd class="mb-0">As a full-stack web developer at ADIP.
                    </dd>
                  </div>
                </section>
              </dl>
            </div>
            <div class="container-box container-box__portfolio my-4 px-2">
              <dl class="pb-45 px-0 d-flex flex-row flex-wrap justify-content-between container-box__portfolio--item">
                <h3 class="item-title col-8 col-sm-10 col-lg-11">Registry for Visitors of prisoners</h3>
                <button class="button-section"><span class="material-icons white my-auto">expand_more</span></button>
                <section class="container-box__section">
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Url</dt>
                    <dd class="mb-0"><a href="https://tramites.cdmx.gob.mx/reclusorios-visitas/" target="_blank">tramites.cdmx.gob.mx/reclusorios-visitas/</a>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Description</dt>
                    <dd class="mb-0">This web system aims to help to people to visit their family members in prison.
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Functions</dt>
                    <dd class="mb-0">
                      <ul>
                        <li>Register visitors data.</li>
                        <li>Make an appointment for collecting documents.</li>
                        <li>Avoids acts of corruption previously identified, such as extortions and facilitation payments.</li>
                    </dd>
                  </div>
                  <div class="px-2 px-md-3 d-flex flex-column flex-md-row justify-content-md-start w-100">
                    <dt class="mr-md-2">Role</dt>
                    <dd class="mb-0">As a full-stack web developer at ADIP.
                    </dd>
                  </div>
                </section>
              </dl>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
