.container-box {
  border-radius: 0.5rem;
  box-shadow: 5px 6px 16px -5px rgba(0,0,0,0.77);
  -webkit-box-shadow: 5px 6px 16px -5px rgba(0,0,0,0.77);
  -moz-box-shadow: 5px 6px 16px -5px rgba(0,0,0,0.77);
  min-height: 100%;
  padding: 1rem 1.5rem;

  .button-section {
    background-color: #424242;
    position: absolute;
    right: 1rem;
    border: 1px solid #212121;
    border-radius: 5rem;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
  }

  &__section {
    transition: all 150ms linear;

    &::after {
      color: #ffeb3b;
      content: "}";
      position: relative;
      left: 0;
      bottom: -0.25rem;
    }
  }

  &--white {
    background-color: #fff;
  }

  &__main {
    margin-top: -5rem;
  }

  &__secondary {
    margin-top: 1.5rem;
  }

  &__portfolio {
    background-color: $nero;
    color: #fff;
    padding: 2rem;
    min-height: auto;

    &--item {
      font-family: 'Fira Code', sans-serif;
      font-weight: 500;
      font-size: 1rem;
      font-variant-ligatures: common-ligatures;
      margin-bottom: 0;

      .item-title {
        font-size: 1rem;
        color: $very-light-pink-nine;
        padding-left: 0;

        &::after {
          color: #ffeb3b;
          content: " {";
          position: relative;
          right: 0;
        }
      }

      dt {
        color: #b7b7b7;

        &::after {
          color: #fff;
          content: ":";
          position: relative;
          right: -0.2rem;
        }
      }

      dd {
        color: #fff;
        word-break: break-word;
      }

      a {
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.section--education {
  .education__box {
    background-color: $emperor;
    border: 1px solid $nero;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    transition: 120ms all linear;

    &.education__box--fi {
      background: url("/src/images/fi_unam.png") center;
      background-size: cover;
      width: auto;
    }

    & .material-icons {
      font-size: 4rem;
      color: $white;
    }
  }
}

.section--skills {
  .container {
    background-color: #212121 !important;
    height: auto;
    border-radius: 0.5rem;
    position: relative;
  }

  .box-gradient__container {
    position: relative;
    z-index: 0;
    left: 0;
    right: 0;
    height: auto;
  }

  .skill__box {
    margin: 0.75rem;
    position: relative;
    padding: 2rem 2.75rem;
    box-sizing: border-box;
    $border: 0.25rem;
    color: #FFF;
    background-clip: padding-box;
    border-radius: 0.5rem;
    border: solid $border transparent;
    background-color: #212121;
    transition: 120ms all linear;
    height: 20rem;
    // max-width: 14rem;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(to right, #673ab7, #1565c0);
      transition: 120ms all linear;
    }

    &:nth-of-type(even) {
      &::before {
        transition: 120ms all linear;
        // background: linear-gradient(to right, #3f51b5, #673ab7);
      }
    }

    .image__skill {
      margin: 1rem 0;

      &--white {
        img {
          filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(206deg) brightness(105%) contrast(100%);
        }
      }

      img {
        width: 95px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
      }
    }

    .skill__name {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: $fs-17;
      color: $white;
      margin: 1rem 0;
    }

    .skill-level {
      &__text {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1rem;
        font-weight: $fw-medium;
        color: $white-20;
        text-align: center;
        margin: 1rem 0;
        transition: 120ms all linear;
      }
    }

    &:hover {
      &::before {
        // transform: scale(1.1);
        // transition: 120ms all linear;
        // background: linear-gradient(to right, #3f51b5, #673ab7);
      }
    }
  }
}
@media only screen and (max-width: 459px) {
  .section--skills {
    .skill__box {
      margin: 0.5rem;
      position: relative;
      padding: 0;
      box-sizing: border-box;
      $border: 0.25rem;
      color: #FFF;
      background-clip: padding-box;
      border-radius: 0.5rem;
      border: solid $border transparent;
      background-color: #212121;
      transition: 120ms all linear;
      height: 15rem;
      min-width: 42%;
      // max-width: 14rem;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(to right, #673ab7, #1565c0);
        transition: 120ms all linear;
      }

      .image__skill {
        margin: 1rem 0;

        img {
          width: 60px;
        }
      }
    }
  }
}
