// Color

.grassy-green {
    color: $grassy-green;
}

.white-20 {
    color: $white-20;
}

.teal {
    color: $teal;
}

.blue-two {
    color: $blue-two;
}

.grassy-green-two {
    color: $grassy-green-two;
}

.dark-green {
    color: $dark-green;
}

.fresh-green-89 {
    color: $fresh-green-89;
}

.charcoal-grey {
    color: $charcoal-grey;
}

.black-30 {
    color: $black-30;
}

.dark-blue-green {
    color: $dark-blue-green;
}

.white-gray {
    color: $white-gray;
}

.brown-grey {
    color: $brown-grey;
}

.silver {
    color: $silver;
}

.true-green {
    color: $true-green;
}

.pine {
    color: $pine;
}

.white-two {
    color: $white-two;
}

.black-79 {
    color: $black-79;
}

.shamrock {
    color: $shamrock !important;
}

.dark-grey-blue {
    color: $dark-grey-blue;
}

.white-three {
    color: $white-three;
}

.nero-dark {
    color: $nero-dark;
}

.brown-grey-two {
    color: $brown-grey-two;
}

.greyish-teal {
    color: $greyish-teal;
}

.teal-two {
    color: $teal-two !important;
}

.very-light-pink {
    color: $very-light-pink;
}

.pine-green {
    color: $pine-green !important;
}

.slate-grey {
    color: $slate-grey;
}

.dark-grey {
    color: $dark-grey;
}

.very-light-pink-two {
    color: $very-light-pink-two;
}

.brownish-grey {
    color: $brownish-grey;
}

.very-light-pink-three {
    color: $very-light-pink-three;
}

.brownish-grey-two {
    color: $brownish-grey-two;
}

.very-light-pink-four {
    color: $very-light-pink-four;
}

.white-four {
    color: $white-four;
}

.red {
    color: $red;
}

.red-comment {
    color: $red-comment;
}

.duck-egg-blue {
    color: $duck-egg-blue;
}

.cloudy-blue {
    color: $cloudy-blue;
}

.charcoal-grey-two {
    color: $charcoal-grey-two;
}

.very-light-pink-five {
    color: $very-light-pink-five;
}

.gunmetal {
    color: $gunmetal;
}

.very-light-pink-six {
    color: $very-light-pink-six;
}

.kelly-green {
    color: $kelly-green;
}

.very-light-pink-seven {
    color: $very-light-pink-seven;
}

.greyish-brown {
    color: $greyish-brown;
}

.brown-grey-three {
    color: $brown-grey-three;
}

.bluish-grey {
    color: $bluish-grey;
}

.greyish-brown-two {
    color: $greyish-brown-two;
}

.brown-grey-four {
    color: $brown-grey-four;
}

.orangey-yellow {
    color: $orangey-yellow;
}

.yellow-chrome {
    color: $yellow-chrome;
}

.coral {
    color: $coral;
}

.old-mauvee {
    color: $old-mauvee;
}

.blue-lazuli {
    color: $blue-lazuli;
}

.green-apple {
    color: $green-apple;
}

.greyish-brown-three {
    color: $greyish-brown-three;
}

.very-light-pink-eight {
    color: $very-light-pink-eight;
}

.brown-grey-five {
    color: $brown-grey-five;
}

.charcoal-grey-three {
    color: $charcoal-grey-three;
}

.warm-grey {
    color: $warm-grey;
}

.white {
    color: $white;
}

.brown-grey-six {
    color: $brown-grey-six;
}

.greyish-brown-four {
    color: $greyish-brown-four;
}

.black-28 {
    color: $black-28;
}

.brown-grey-seven {
    color: $brown-grey-seven;
}

.very-light-pink-nine {
    color: $very-light-pink-nine;
}

.brownish-grey-three {
    color: $brownish-grey-three;
}

.brownish-grey-four {
    color: $brownish-grey-four;
}

.black-two {
    color: $black-two;
}

.very-light-pink-ten {
    color: $very-light-pink-ten;
}

.very-light-pink-eleven {
    color: $very-light-pink-eleven;
}

.brown-grey-eight {
    color: $brown-grey-eight;
}

.brownish-grey-five {
    color: $brownish-grey-five;
}

.brownish-grey-six {
    color: $brownish-grey-six;
}

.charcoal-grey-four {
    color: $charcoal-grey-four !important;
}

.gray-line {
    color: $gray-line;
}

.green-01 {
    color: $green-01;
}

.gray-05 {
    color: $gray-05;
}

.red-four {
    color: $red-four;
}

.red-five {
    color: $red-five;
}

.shamrock-light {
    color: $shamrock-light;
}

.mosque {
    color: $mosque;
}

.firefly {
    color: $firefly;
}

// Background Color

.bg-grassy-green {
    background-color: $grassy-green;
}

.bg-white-20 {
    background-color: $white-20;
}

.bg-teal {
    background-color: $teal;
}

.bg-grassy-green-two {
    background-color: $grassy-green-two;
}

.bg-fresh-green-89 {
    background-color: $fresh-green-89;
}

.bg-charcoal-grey {
    background-color: $charcoal-grey;
}

.bg-black-30 {
    background-color: $black-30;
}

.bg-dark-blue-green {
    background-color: $dark-blue-green;
}

.bg-white-gray {
    background-color: $white-gray;
}

.bg-brown-grey {
    background-color: $brown-grey;
}

.bg-silver {
    background-color: $silver;
}

.bg-true-green {
    background-color: $true-green;
}

.bg-pine {
    background-color: $pine;
}

.bg-white-two {
    background-color: $white-two;
}

.bg-black-79 {
    background-color: $black-79;
}

.bg-shamrock {
    background-color: $shamrock;
}

.bg-dark-grey-blue {
    background-color: $dark-grey-blue;
}

.bg-white-three {
    background-color: $white-three;
}

.bg-black {
    background-color: $black;
}

.bg-brown-grey-two {
    background-color: $brown-grey-two;
}

.bg-greyish-teal {
    background-color: $greyish-teal;
}

.bg-teal-two {
    background-color: $teal-two;
}

.bg-very-light-pink {
    background-color: $very-light-pink;
}

.bg-pine-green {
    background-color: $pine-green;
}

.bg-slate-grey {
    background-color: $slate-grey;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.bg-very-light-pink-two {
    background-color: $very-light-pink-two;
}

.bg-brownish-grey {
    background-color: $brownish-grey;
}

.bg-very-light-pink-three {
    background-color: $very-light-pink-three;
}

.bg-brownish-grey-two {
    background-color: $brownish-grey-two;
}

.bg-very-light-pink-four {
    background-color: $very-light-pink-four;
}

.bg-white-four {
    background-color: $white-four;
}

.bg-duck-egg-blue {
    background-color: $duck-egg-blue;
}

.bg-cloudy-blue {
    background-color: $cloudy-blue;
}

.bg-charcoal-grey-two {
    background-color: $charcoal-grey-two;
}

.bg-very-light-pink-five {
    background-color: $very-light-pink-five;
}

.bg-gunmetal {
    background-color: $gunmetal;
}

.bg-very-light-pink-six {
    background-color: $very-light-pink-six;
}

.bg-kelly-green {
    background-color: $kelly-green;
}

.bg-very-light-pink-seven {
    background-color: $very-light-pink-seven;
}

.bg-greyish-brown {
    background-color: $greyish-brown;
}

.bg-brown-grey-three {
    background-color: $brown-grey-three;
}

.bg-bluish-grey {
    background-color: $bluish-grey;
}

.bg-greyish-brown-two {
    background-color: $greyish-brown-two;
}

.bg-brown-grey-four {
    background-color: $brown-grey-four;
}

.bg-orangey-yellow {
    background-color: $orangey-yellow;
}

.bg-greyish-brown-three {
    background-color: $greyish-brown-three;
}

.bg-very-light-pink-eight {
    background-color: $very-light-pink-eight;
}

.bg-brown-grey-five {
    background-color: $brown-grey-five;
}

.bg-charcoal-grey-three {
    background-color: $charcoal-grey-three;
}

.bg-warm-grey {
    background-color: $warm-grey;
}

.bg-white {
    background-color: $white;
}

.bg-brown-grey-six {
    background-color: $brown-grey-six;
}

.bg-greyish-brown-four {
    background-color: $greyish-brown-four;
}

.bg-black-28 {
    background-color: $black-28;
}

.bg-brown-grey-seven {
    background-color: $brown-grey-seven;
}

.bg-very-light-pink-nine {
    background-color: $very-light-pink-nine;
}

.bg-brownish-grey-three {
    background-color: $brownish-grey-three;
}

.bg-brownish-grey-four {
    background-color: $brownish-grey-four;
}

.bg-black-two {
    background-color: $black-two;
}

.bg-very-light-pink-ten {
    background-color: $very-light-pink-ten;
}

.bg-very-light-pink-eleven {
    background-color: $very-light-pink-eleven;
}

.bg-brown-grey-eight {
    background-color: $brown-grey-eight;
}

.bg-brownish-grey-five {
    background-color: $brownish-grey-five;
}

.bg-brownish-grey-six {
    background-color: $brownish-grey-six;
}

.bg-gray-line {
    background-color: $gray-line;
}

.bg-gray-05 {
    background-color: $gray-05;
}

.bg-dark-cyan {
    background-color: $dark-cyan;
}

.bg-yellow-light {
    background-color: $yellow-light;
}

.bg-blue-light {
    background-color: $blue-light;
}

// Termina backgroundcolor

.grey-h3-title {
    color: $grey-h3-title;
}

.grey-light {
    color: $grey-light;
}

.green-pine {
    color: $green-pine;
}

.nero {
  color: $nero !important;
}

.nero-lighter {
  color: $nero-lighter !important;
}

.dim-grey{
  color: $dim-gray !important;
}

.dark-pastel-green-title{
  color: $dark-pastel-green-title !important;
}

.blue-stone{
  color: $blue-stone !important;
}

.border-yellow-strong {
  border-color: $yellow-strong;
}

.border-blue-strong {
  border-color: $blue-strong;
}

.blue-charcoal{
  color: $blue-charcoal;
}

.matterhorn{
  color: $matterhorn !important;
}
