.cover {
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 34rem);
  // min-height: 10rem;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element

  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url("/src/images/intro_min.jpg") no-repeat center top;
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }

  &__overlay {
    display: block;
    position: fixed;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg , #616161 5%, rgba(75, 75, 75, 0) 55%);
    z-index: 10;
    width: 100%;
    height: 11vh;
    color: #eee;
    & .navbar-nav .nav-item .nav-link{
      color: #eee;
      font-size: $fs-18;
    }
  }
}
