.avatar {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -7rem;
  width: 15rem;
  border-radius: 50%;
  box-shadow: 2px 1px 6px 1px #2121217f;
  transition: box-shadow 0.15s linear;

  &__picture {
    width: 15rem;
    margin: auto;
    vertical-align: middle;
    border-radius: 50%;
  }
}

.social__box {
  .social__link i {
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: $matterhorn;
    transition: 100ms all linear;

    &:hover{
      color:$indigo;
      transform: translateX(0.15rem);
      transition: 100ms all linear;
    }
  }
}
