.section-generals {
  &__nav {
    li {
      & a.active {
        border-bottom: 2px solid #0b24b2a3;
        color: $egyptian-blue;
      }

      a {
        padding: 0.5rem 0.25rem;
        font-family: 'Fira Mono', monospace;
        font-weight: 400;
        height: auto;
        color: $indigo;
        transition: 100ms all linear;

        &.active {
          font-weight: 500;
        }
      }
      &:hover{
        a{
          color: $egyptian-blue;
          border-bottom: 2px solid #0b24b2a3;
          transition: 100ms all linear;
        }
      }
    }
  }
}
