// .border-box__section_experimental {
//   $border: 5px;
//   position: relative;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1;
//   margin: -$border;
//   border-radius: 1rem;
//   background: linear-gradient(to right, #0a1625, orange);
//
//   .section-tab_experimental {
//
//   background: #fff;
//   position: relative;
//   padding: 2rem;
//   box-sizing: border-box;
//   background-clip: padding-box;
//   border: solid $border transparent;
//   border-radius: 1rem;
//   margin: auto;
//   font-family: "Fira Sans", sans-serif;
//   z-index: 99;
//   }
.main-container{

  padding-top: 1rem;
}

.container-black{
  background-color: $nero-lighter;
  padding-top: 2rem;

}

.section-description {
  min-height: 100vh;
  height: auto;
}

.border-box__section {
  position: relative;
  border-radius: 1rem;

  .section-tab {
    background: #fafafa;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 1rem;
    margin: auto;
    font-family: "Fira Sans", sans-serif;

    &__title {
      font-family: 'Fira Sans', sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      // text-align: center;
    }

    &__data {
      display: flex;
      padding: 1.5rem;
      border: 1px solid #fafafa;
      border-radius: 1rem;
      transition: 100ms all linear;
      background-color: #ffffff;
      // &:nth-of-type(even){
      // }
      // &:nth-of-type(odd){
      //   background-color: #e0e0e0;
      // }
      &:hover {
        border: 1px solid #e0e0e0;
        border-radius: 1rem;
        // padding: 1.5rem;
        transition: 100ms all linear;
      }

      .material-icons {
        color: #3f4141;
        font-size: 2rem;
        margin: 0.5rem 0;
      }

      .section-tab__icon {
        color: #3f4141;
        font-size: 2rem;
        margin: 0.5rem 0;
      }

      dt {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: $gray-05;
      }

      dd {
        font-family: 'Fira Sans', sans-serif;
        font-size: 0.925rem;
        color: $firefly;
        font-weight: 500;

        & a {
          font-family: 'Fira Sans', sans-serif;
          font-size: 0.925rem;
          color: #607d8b;
          transition: 120ms color linear;

          &:hover {
            color: $firefly;
            text-decoration: none;
            transition: 120ms color linear;
          }
        }
      }
    }
  }
}

.container {
  &__section {
    &--grey {
      background-color: $charcoal;
      // min-height: 100vh;
    }
  }
}

.section--portfolio {
  &.container-fluid {
    background-color: #212121;
  }

  & .container {
    background-color: #212121;
    border-radius: 0.265rem;
  }

  .card{
    &-title{
      font-family: 'Fira Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: 1.15rem;
    }

    &-text{
      font-family: 'Fira Sans', sans-serif;
      font-size: 0.9rem;
    }

    &-description__list{
      font-family: 'Fira Sans', sans-serif;
      font-size: 0.9rem;
      padding-left: 1rem;
    }

  }
}
