.title-text {
  font-family: 'Fira Sans', sans-serif;
  color: $nero-dark;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.description-text {
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: $firefly;
  text-align: center;
}

.description {
  &__text {
    font-family: 'Fira Code', monospace;
    color: $warm-grey;
    font-size: 0.875rem;
  }
}

.section {
  &__title {
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 500;
    color: $black-two;
  }
}

.ref-text {
  &__green {
    &::after {
      content: '*';
      color: $true-green;

    }
  }
}
