// color; $
$grassy-green: #31b700;
$white-20: #d8d8d8;
$teal: #009f98;
$grassy-green-two: #30b702;
$fresh-green-89: #76d366;
$dark-green: #145046;
$charcoal-grey: #4a4e4e;
$black-30: #00004c;
$dark-blue-green: #004c3f;
$white-gray: #f5f5f5;
$whitest-gray: #e5e5e5;
$brown-grey: #979797;
$silver: #c0c5c1;
$true-green: #1bb600;
$pine: #32685a;
$white-two: #ffffff;
$black-79: #0000ca;
$shamrock: #00b140;
$shamrock-light: #00be6a;
$dark-grey-blue: #2c2762;
$white-three: #f8f8f8;
$brown-grey-two: #acacac;
$greyish-teal: #7f9494;
$teal-two: #009288;
$very-light-pink: #f0f0f0;
$pine-green: #0f4c42;
$slate-grey: #5d5d5e;
$dark-grey: #262629;
$very-light-pink-two: #c9c9c9;
$brownish-grey: #5d5d5d;
$very-light-pink-three: #e7e7e7;
$brownish-grey-two: #5f5f5f;
$very-light-pink-four: #d4d4d4;
$white-four: #f6f6f6;
$red: #ff0000;
$red-two: #c71e1e;
$red-three: #e3342f;
$red-four: #d82138;
$red-five: #da2f2f;
$duck-egg-blue: #dce0e0;
$cloudy-blue: #c1c7c8;
$lightest-blue: #dedfe1;
$charcoal-grey-two: #414849;
$very-light-pink-five: #ececec;
$gunmetal: #596364;
$very-light-pink-six: #dddddd;
$kelly-green: #00a82d;
$very-light-pink-seven: #d5d5d5;
$greyish-brown: #545454;
$brown-grey-three: #7b7b7b;
$bluish-grey: #898d8d;
$greyish-brown-two: #4a4a4a;
$brown-grey-four: #9b9b9b;
$orangey-yellow: #f5a623;
$greyish-brown-three: #535353;
$very-light-pink-eight: #dcdcdc;
$brown-grey-five: #a3a3a3;
$charcoal-grey-three: #4c5050;
$warm-grey: #8b8888;
$white: #ffffff;
$brown-grey-six: #7e7a7a;
$greyish-brown-four: #484747;
$black-28: #000046;
$black-three: #010101;
$brown-grey-seven: #7d7d7d;
$very-light-pink-nine: #efeeee;
$brownish-grey-three: #676767;
$brownish-grey-four: #737373;
$black-two: #2d2d2d;
$very-light-pink-ten: #dedede;
$very-light-pink-eleven: #d3d3d3;
$brown-grey-eight: #9f9f9f;
$brownish-grey-five: #747474;
$brownish-grey-six: #767676;
$black-all: #000000;
$gray-form: #ededed;
$gray-form-h3: #8e9393;
$grey-h3-title: #848484;
$charcoal-grey-four: #383b41;
$red-error-btstrp: #dc3545;
$grey-light: #8f8f8f;
$light-grey-blue: #a5adbb;
$light-blue-grey: #c1c7d0;
$yellow-chrome: #fca800;
$coral: #ff784f;
$old-mauvee: #65334d;
$blue-lazuli: #2274a5;
$green-apple: #6cc551;
$gray-line: #d7d7d7;
$gray-input: #ebecf0;
$red-comment: #f65545;
$green-pine: #008374;
$atlantis: #97e545;
$charcoal: #4a4949;
$blue: #3490dc;
$blue-two: #0091ff;
$blue-strong: #0097ff;
$dodger-blue: #2196f3;
$blue-light: #bfe5ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$yellow-light: #ffefbf;
$yellow-strong: #ffbe00;
$yellow-dark: #c38f07;
$green: #38c172;
$green-two: #6dd400;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-01: #f0f0f0;
$gray-02: #6d7278;
$gray-03: #f8f8f8;
$gray-04: #b9b9b9;
$gray-05: #969ca4;
$gray-06: #e8e8e8;
$grayish-blue: #8d93ab;
$green-01: #00b140;
$bastille: #2e2e32;
$verde-inst: #01ad4b;
$green-pine: #008374;
$atlantis: #97e545;
$charcoal: #4a4949;
$emperor: #505050;
$suva-grey: #898989;
$night-rider: #303030;
$dark-spring-green: #007e3a;
$ocean-green: #4db670;
$de-york: #84cc89;
$panache: #eaf6e6;
$dark-green-2: #002e16;
$british-racing-green: #004520;
$crusoe: #005c2b;
$jewel: #007325;
$salem: #17894b;
$ocean-green-2: #45a16f;
$padua: #73b893;
$vista-blue: #a2d0b7;
$mystic: #d0e7db;
$lily-white: #e7f3ed;
$firefly: #3f4141;
$night-rider-two: #353535;
$dark-pastel-green: #02b140;
$dark-pastel-green-2: #00b529;
$light-pastel-green: #52c149;
$pastel-green: #00b626;
$zumthor: #d4d5d5;
$nevada: #717474;
$mosque: #00615b;
$mosque-2: #00655c;
$tropical-rain-forest: #026b5b;
$crusoe: #05712c;
$grey: #818181;
$zambezi: #5a5a5a;
$gainsboro: #d9d9d9;
$whisper: #eeeeee;
$persian-red: #e02020;
$mako: #585a5a;
$alice-blue: #f4f6f8;
$nero-dark: #141414;
$nero: #1a1a1a;
$nero-lighter: #212121;
$nero-lighter-2: #282828;
$dim-gray: #6d6d6d;
$pigment-green: #03a340;
$dark-pastel-green-title: #00b626;
$blue-stone: #1a6058;
$dark-cyan: #009888;
$blue-charcoal: #212529;
$gamboge: #daa802;
$matterhorn: #4f4f4f;
$egyptian-blue: #0b24b2;
// fonts; $
$fs-7: 0.4375rem;
$fs-8: 0.5rem;
$fs-9: 0.5625rem;
$fs-10: 0.625rem;
$fs-11: 0.6875rem;
$fs-12: 0.75rem;
$fs-13: 0.8125rem;
$fs-14: 0.875rem;
$fs-15: 0.9375rem;
$fs-16: 1rem;
$fs-17: 1.075rem;
$fs-18: 1.125rem;
$fs-19: 1.1875rem;
$fs-20: 1.25rem;
$fs-21: 1.3125rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-25: 1.5625rem;
$fs-26: 1.625rem;
$fs-27: 1.6875rem;
$fs-28: 1.75rem;
$fs-29: 1.8125rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-34: 2.125rem;
$fs-35: 2.1875rem;
$fs-36: 2.25rem;
// Font-sizes using rem, setting 16px as 1rem in styles.scss
.fs-8 {
  font-size: $fs-8;
}

.fs-9 {
  font-size: $fs-9;
}

.fs-10 {
  font-size: $fs-10;
}

.fs-11 {
  font-size: $fs-11;
}

.fs-12 {
  font-size: $fs-12;
}

.fs-13 {
  font-size: $fs-13;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-15 {
  font-size: $fs-15;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-17 {
  font-size: $fs-17;
}

.fs-18 {
  font-size: $fs-18;
}

.fs-19 {
  font-size: $fs-19;
}

.fs-20 {
  font-size: $fs-20;
}

.fs-21 {
  font-size: $fs-21;
}

.fs-22 {
  font-size: $fs-22;
}

.fs-24 {
  font-size: $fs-24;
}

.fs-25 {
  font-size: $fs-25;
}

.fs-32 {
  font-size: $fs-32;
}

.fs-34 {
  font-size: $fs-34;
}

.fs-35 {
  font-size: $fs-35;
}

.fs-36 {
  font-size: $fs-36;
}
$fw-extra-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700 !important;
$fw-extra-bold: 800;
$fw-black: 800;

.fw-extra-light {
  font-weight: $fw-extra-light;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-extra-bold {
  font-weight: $fw-extra-bold;
}
